/* You can add global styles to this file, and also import other style files */
.mt-20{
    margin-top: 20px;
}

.mt-60 {
    margin-top: 60px;
}

.full-width{
    width: 100%;
}

.ml-5{
    margin-left: 5px;
}

a{
    color: white;
    text-decoration: none;
    margin: 5px;
}

a:hover{
    color: turquoise;
}